<ng-template #torrentInfinite>
  ∞
</ng-template>

<div class="p-card p-component">
  <div class="p-card-body">
    <div class="p-d-flex p-flex-column p-flex-md-row" style="padding: 0">
      <div class="p-d-flex p-flex-column p-md-8">
        <div class="p-card-title">
          {{torrent.Name}}
        </div>
        <div class="p-card-subtitle t-torrent-detail">
          <t-torrent-state [state]="torrent.State"></t-torrent-state>
          <t-torrent-label [hash]="hash" [label]="label"></t-torrent-label>
        </div>
      </div>


    </div>

    <div class="p-d-flex p-flex-column t-bar p-col-12">
      <div class="p-d-flex p-flex-row p-align-center t-torrent-progress">
        <span pTooltip="ETA">
          <i class="far fa-clock"></i>
          <ng-container *ngIf="torrent.ETA else torrentInfinite">
                      {{torrent.ETA | amDuration: 'seconds'}}
          </ng-container>
        </span>
        <div class="spacer"></div>

        <span pTooltip="Total size">
          <i class="far fa-hdd"></i>
          {{torrent.TotalSize | filesize}}
        </span>
      </div>

      <p-progressBar [value]="torrent.Progress | number: '1.0-2'">

      </p-progressBar>
    </div>

    <div class="p-d-flex p-flex-row p-justify-between t-details">
      <div class="t-info p-d-flex p-flex-row p-flex-wrap">
        <span pTooltip="Download speed">
          <i class="fas fa-download"></i>
          {{torrent.DownloadPayloadRate |filesize}}s
        </span>

        <span pTooltip="Upload speed">
          <i class="fas fa-upload"></i>
          {{torrent.UploadPayloadRate |filesize}}s
        </span>

        <span pTooltip="Seeding time">
          <i class="fas fa-leaf"></i>
          {{torrent.SeedingTime === 0 ? '0s' : (torrent.SeedingTime | amDuration: 'seconds')}}
        </span>

        <span pTooltip="Seed ratio">
          <i class="fas fa-percentage"></i>
          {{torrent.Ratio < 0 ? 0 : torrent.Ratio | number : '1.0-2'}}
        </span>
      </div>

      <div class="t-controls">
        <button pButton pRipple (click)="onChangeState()" type="button"
                [icon]="torrent.State == 'Paused' ? 'fas fa-play' : 'fas fa-pause'"
                class="p-button-text"
                [pTooltip]="torrent.State == 'Paused' ? 'Resume' : 'Pause'"></button>

        <t-delete-torrent-overlay #remove [torrents]="[hash]"
                                  (removed)="removed.emit($event)"></t-delete-torrent-overlay>
        <button pButton pRipple (click)="remove.toggle($event)" type="button" icon="far fa-trash-alt"
                class="p-button-text p-button-danger"
                pTooltip="Remove"></button>
      </div>

    </div>

  </div>
</div>
