<ng-template #useExistingLabel let-suggestion>
  <span class="t-existing-label">Use <b>{{suggestion.value}}</b></span>
  <button pButton type=button (click)="onDeleteLabel($event, suggestion.value)" pTooltip="Delete this label"
          icon="far fa-trash-alt" class="t-delete-label-button p-button-rounded p-button-text p-button-sm"></button>
</ng-template>

<ng-template #createNewLabel let-suggestion>
  <span class="t-new-label">Create and use a new label named <b>{{suggestion.value}}</b></span>
</ng-template>

<ng-template #clearCurrentLabel>
  <span class="t-new-label">Clear the current label <b>{{initialLabel}}</b></span>
</ng-template>


<div class="p-grid p-fluid">
  <div class="p-field p-col-12">
    <input pInputText autofocus [(ngModel)]="label" (ngModelChange)="query$.next($event)"
           placeholder="Start typing a new label">
  </div>

  <div class="p-col-12">
    <button *ngFor="let suggestion of suggestions$ | async"
            class="p-button p-component p-d-flex p-flex-row p-justify-between t-suggestion-button" type="button"
            (click)="onApplySuggestion(suggestion)">
      <ng-container
        [ngTemplateOutlet]="suggestion.new ? createNewLabel : suggestion.clear ? clearCurrentLabel : useExistingLabel"
        [ngTemplateOutletContext]="{$implicit: suggestion}">
      </ng-container>
    </button>
  </div>

</div>
